.results-container {
    padding-top: 70px;
}

.results {
    text-align: center;
    margin: 0px 5vw 0px 5vw;
}

.video-card-container {
    display: flex;
    margin: 20px 0px 20px 0px;
}

.thumbnail {
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px #58575359;
    width: 480px;
    height: 360px;
    background: black;
}

.details {
    font-family: system-ui;
    text-align: left;
    margin-left: 20px;
}

.title {
    font-weight: 500;
    font-size: 18px;
}